{
  "presets": [
    [
      "@babel/preset-env"
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "parserOpts": {
    "plugins": [
      "jsx"
    ]
  },
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
